body{
    background-color: #82b8c5;
    color: #005c74;
}

/* ESTILOS HEADER */
.nav-link {
    color: #0099c1;
}

.nav-link:hover {
    color: #005c74;
}


/* ESTILOS MAIN */
#textoMain {
    background-color: #005c74;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#textoPortafolio{
    text-align: center;
    margin: 35px;
    font-size: larger;
}

.slide{
    background-color: #005c74;
    padding: 10px;
    margin: 40px 250px 40px 250px;
    box-shadow: 2px 2px 2px 2px black;
}

.slide img {
    width: 5px; 
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.cola{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: aquamarine;
    width: 100%;
    overflow: hidden;
}



.caja{
    border: 4px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 15px;
    text-align: center;
    line-height: 150px; 

}

.d-flex p-2 justify-content-center{
    background-color: aqua;
    width: 100vh; justify-content: center; text-align: center;
}

.titulos{
    background-color: #005c74;
    width: 500px; text-align: center; margin: auto;
    border-radius: 15px; border-style: solid; border-color: white;
}

.textos{
    background-color: rgb(255, 255, 255);
    width: 700px; text-align: center; margin: auto;
    border-radius: 15px; border-style: solid;
    margin-top: 15px;
}


form{
    background-color: #005c74;
    color: white;
}


iframe{
    height: 400px;
    border-radius: 15px;
}



/* ESTILOS FOOTER */
footer {
    background-color: blue;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: #0099c1;
}